<ion-view view-title="Roteiro">
  <ion-content>
    <main>

      <header class="user-information--home">
        <div class="row">
          <div class="col col">
            <figure class="banner--home">
              <img ng-src="{{ ::vm.data.farm.banner.src }}" ng-alt="Banner - {{ ::vm.data.farm.farmName }}">
            </figure>
            <div class="dt-complete--home">Data do preenchimento do guia: 05/12/2016</div>
            <hgroup>
              <h1>{{ ::vm.data.user.fullName }}</h1>
              <h4>{{ ::vm.data.farm.farmName }}</h4>
          </hgroup>
          </div>
        </div>
      </header>

      <section class="roadmap-section--home padding">
        <v-accordion class="vAccordion--default">
          <v-pane ng-repeat="pane in vm.data.reports" class="roadmap-block--home">
            <v-pane-header>
              <h4 class="roadmap-title--home">{{ ::pane.title }}</h4>        
            </v-pane-header>
            <v-pane-content>

              <p>{{ ::pane.description }}</p>

              <div ng-if="pane.data" ng-repeat="subpane in pane.data">
                <v-accordion ng-if="subpane.args.type == 'accordion'">
                  <v-pane>
                      <v-pane-header>
                        {{ ::subpane.title }}
                      </v-pane-header>
                      <v-pane-content>

                        <p>{{ ::subpane.content.description }}</p>

                        <canvas class="chart chart-bar"
                          chart-data="subpane.chart.data" chart-labels="subpane.chart.labels" chart-series="subpane.chart.series"> 
                        </canvas>

                        <table class="table table-pros-cons--home">
                          <thead>
                            <th>Pontos Fortes</th>
                            <th>Pontos Fracos</th>
                          </thead>
                          <tbody>
                            <tr ng-repeat="prosCons in subpane.prosCons">
                              <td>{{ ::prosCons[$index] }}</td>
                              <td>{{ ::prosCons[$index] }}</td>
                            </tr>
                          </tbody>
                        </table>

                        <div class="row">
                          <div class="col col-50">
                            <button class="button button-full button-outline button-positive">
                              Nível Geral: 3
                            </button>
                          </div>
                          <div class="col col-50">
                            <button class="button button-full button-positive">
                              Vá para Dicas
                            </button>
                          </div>
                        </div>

                    </v-pane-content>
                  </v-pane>
                </v-accordion>

                <table ng-if="subpane.args.type == 'table'" class="table table-data--home">
                  <thead>
                    <tr>
                      <th colspan="3">
                        <div class="row">
                          <div class="col col-50">
                            <span>1. Colheita</span>
                          </div>
                          <div class="col col-50">
                            <b>Nível Calculado - 4</b>
                          </div>
                        </div>
                        </th>
                    </tr>
                    <tr>
                      <th ng-click="openPopover($event)">Informação 01</th>
                      <th ng-click="openPopover($event)">Informação 02</th>
                      <th ng-click="openPopover($event)">Informação 03</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Inf.01 A</td>
                      <td>Inf.01 B</td>
                      <td>Inf.01 C</td>
                    </tr>
                    <tr>
                      <td>Inf.02 A</td>
                      <td>Inf.02 B</td>
                      <td>Inf.03 C</td>
                    </tr>
                  </tbody>
                </table>

              </div>

            </v-pane-content>
          </v-pane>
        </v-accordion>       
      </section>

    </main>
  </ion-content>
</ion-view>