.user-information--home {
  text-align: center; }
  .user-information--home .dt-complete--home {
    text-align: right; }

.banner--home {
  margin: -10px -10px 0px -10px; }
  .banner--home img {
    height: 200px;
    width: 100%; }

.table {
  width: 100%;
  margin: 10px 0 10px 0;
  border: 1px solid #DDD; }
  .table thead {
    background-color: #DDD; }
